@font-face {
  src: url("./Ubuntu-Regular.ttf");
  font-family: "Ubuntu-Regular";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./Ubuntu-Medium.ttf");
  font-family: "Ubuntu-Medium";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./JosefinSans-Regular.ttf");
  font-family: "JosefinSans-Regular";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./JosefinSans-Light.ttf");
  font-family: "JosefinSans-Light";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  src: url("./JosefinSans-Medium.ttf");
  font-family: "JosefinSans-Medium";
  font-weight: normal;
  font-style: normal;
}
